<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.AuthEmailMapper">

    <select id="getAuthEmailNumByUserIdAndType" resultType="Integer">
        SELECT COUNT(*) FROM auth_email WHERE user_id=#{userId} AND type=#{type} AND created_at BETWEEN #{start} AND CURRENT_TIMESTAMP;
    </select>

    <select id="getUndeletedAuthEmailByUserIdAndType" resultType="in.koala.domain.AuthEmail">
        SELECT * FROM auth_email WHERE user_id=#{user_id} AND type=#{type} AND is_deleted=0;
    </select>

    <select id="getUndeletedIsAuthNumByUserId" resultType="Integer">
        SELECT COUNT(*) FROM auth_email WHERE user_id=#{userId} AND is_deleted=0 AND type=#{type};
    </select>

    <update id="expirePastAuthEmail">
        UPDATE auth_email SET is_deleted=1
        WHERE user_id=#{user_id} AND type=#{type} AND is_deleted=0;
    </update>

    <update id="setIsAuth">
        UPDATE auth_email SET is_Auth=1
        WHERE id=#{id}
    </update>

    <insert id="insertAuthEmail">
        INSERT INTO auth_email(user_id, type, is_deleted, created_at, expired_at, secret)
        VALUES(#{user_id}, #{type}, default, default, #{expired_at}, #{secret})
    </insert>

    <select id="getLatestAuth">
        SELECT * FROM auth_email WHERE user_id=#{user_id} ORDER BY id DESC LIMIT 1;
    </select>
</mapper>