<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.ChatMessageMapper">

    <insert id="insertMessage" parameterType="in.koala.domain.ChatMessage">
        INSERT INTO chat_message(sender, message, type) VALUES(#{sender}, #{message}, #{type})
        <selectKey keyProperty="id" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    
    <select id="getMessageList" resultMap="messageMap">
        SELECT id, sender, message, type, sent_at, is_deleted
        FROM chat_message
        WHERE id <![CDATA[ <= ]]> <include refid="getLastKey"/> - #{criteria.cursor}
        ORDER BY id DESC LIMIT #{criteria.limit}
    </select>

    <select id="searchMessage" resultMap="messageMap">
        SELECT id, sender, message, type, sent_at, is_deleted
        FROM chat_message
        WHERE id <![CDATA[ <= ]]> <include refid="getLastMessageId"/>
        ORDER BY id DESC LIMIT #{criteria.limit}
    </select>

    <sql id="getLastMessageId">
        SELECT id
        FROM chat_message
        WHERE
              id <![CDATA[ <= ]]> <include refid="getLastKey"/> - #{criteria.cursor} AND
              message LIKE '%#{word}%'
        ORDER BY id DESC LIMIT 1
    </sql>

    <resultMap id="messageMap" type="in.koala.domain.ChatMessage">
        <id column="id" property="id"/>
        <result column="sender" property="sender"/>
        <result column="message" property="message" javaType="java.lang.String"/>
        <result column="type" property="type" javaType="in.koala.enums.ChatType"/>
        <result column="sentAt" property="sent_at"/>
        <result column="isDeleted" property="is_deleted"/>
    </resultMap>

    <sql id="getLastKey">
        (SELECT id FROM chat_message ORDER BY id DESC LIMIT 1 )
    </sql>
</mapper>