<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.CrawlingMapper">

    <select id="test" resultType="string">
        SELECT title FROM crawling LIMIT 1;
    </select>

    <select id="checkDuplicatedData" parameterType="in.koala.domain.Crawling" resultType="int">
        SELECT count(*)
        FROM crawling
        WHERE title = #{title}
          AND url = #{url}
          AND site = #{site}
          AND created_at = #{createdAt}
    </select>

    <insert id="updateLog">
        INSERT INTO crawling_log(site, crawling_at)
        VALUES (#{site}, #{crawlingAt})
    </insert>

    <insert id="addCrawlingData">
        INSERT INTO crawling(title, url, site, created_at, crawling_at)
        VALUES
        <foreach item="crawling" separator=" , " collection="list">
            (
            #{crawling.title},
            #{crawling.url},
            #{crawling.site},
            #{crawling.createdAt},
            #{crawling.crawlingAt}
            )
        </foreach>
    </insert>

    <update id="updateCrawlingData" parameterType="in.koala.domain.Crawling">
        <foreach item="crawling" separator=";" collection="list" index="index" open="" close="">
            UPDATE crawling
            <set>
                updated_at = #{crawling.crawlingAt}
            </set>
            WHERE title = #{crawling.title}
                AND url = #{crawling.url}
                AND site = #{crawling.site}
                AND created_at = #{crawling.createdAt}
        </foreach>
    </update>

    <select id="getLatelyCrawlingTime" resultType="java.sql.Timestamp">
        SELECT crawling_at
        FROM crawling_log
        ORDER BY crawling_at DESC
        LIMIT 1;
    </select>

</mapper>