<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.CrawlingMapper">

    <select id="test" resultType="string">
        SELECT title FROM crawling LIMIT 1;
    </select>

    <select id="checkDuplicatedData" parameterType="in.koala.domain.Crawling" resultType="Boolean">
        SELECT EXISTS(
            SELECT id
            FROM crawling
            WHERE title = #{title}
                AND url = #{url}
                AND site = #{site}
                AND created_at = #{createdAt}
        )
    </select>

    <select id="getLatelyCrawlingTime" resultType="java.sql.Timestamp">
        SELECT crawling_at
        FROM crawling_log
        ORDER BY crawling_at DESC
            LIMIT 1;
    </select>

    <insert id="updateLog">
        INSERT INTO crawling_log(site, crawling_at)
        VALUES (#{site}, #{crawlingAt})
    </insert>

    <insert id="addCrawlingData">
        INSERT INTO crawling(title, url, site, created_at, crawling_at)
        VALUES
        <foreach item="crawling" separator=" , " collection="list">
            (
            #{crawling.title},
            #{crawling.url},
            #{crawling.site},
            #{crawling.createdAt},
            #{crawling.crawlingAt}
            )
        </foreach>
    </insert>

    <update id="updateCrawlingData" parameterType="in.koala.domain.Crawling">
        <foreach item="crawling" separator=";" collection="list" index="index" open="" close="">
            UPDATE crawling
            <set>
                updated_at = #{crawling.crawlingAt}
            </set>
            WHERE title = #{crawling.title}
                AND url = #{crawling.url}
                AND site = #{crawling.site}
                AND created_at = #{crawling.createdAt}
        </foreach>
    </update>

    <insert id="addToken" parameterType="in.koala.domain.CrawlingToken">
        INSERT INTO crawling_token(description, site, token)
        VALUES(#{description}, #{site}, #{token});
    </insert>

    <select id="getToken" resultType="in.koala.domain.CrawlingToken">
        SELECT id, description, site FROM crawling_token;
    </select>

    <update id="updateToken" parameterType="in.koala.domain.CrawlingToken">
        UPDATE crawling_token
        SET token = #{token} WHERE id = #{id};
    </update>

    <delete id="deleteTokenById" parameterType="Long">
        DELETE FROM crawling_token
        WHERE id = #{id};
    </delete>

    <select id="checkTokenById" parameterType="Long" resultType="Boolean">
        SELECT EXISTS (SELECT id FROM crawling_token WHERE id = #{id});
    </select>

    <select id="getTokenById" resultType="in.koala.domain.CrawlingToken">
        SELECT id, description, site, token FROM crawling_token
        WHERE id=#{id};
    </select>
</mapper>