<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.HistoryMapper">

    <select id="getEveryNotice" resultType = "in.koala.domain.Notice">
        SELECT n.id, c.site, c.title, c.url, c.created_at AS createdAt, n.is_read AS isRead
        FROM notice AS n
                 INNER JOIN keyword AS k
                            ON k.id = n.keyword_id
                 INNER JOIN crawling AS c
                            ON c.id = n.crawling_id
        WHERE k.user_id = #{userId}
          AND n.is_deleted = 0
          AND k.is_deleted = 0
          <if test="sortType != null">
              <choose>
                  <when test='sortType.equals("yes")'>
                      AND n.is_read = 1
                  </when>
                  <when test='sortType.equals("no")'>
                      AND n.is_read = 0
                  </when>
              </choose>
          </if>
          ORDER BY n.created_at
          LIMIT #{pageNum}, 5;
    </select>

    <update id="deleteNotice">
        <foreach collection="noticeList" index="index" separator=";" item="noticeId">
            UPDATE notice
            <set>
                is_deleted = 1
            </set>
            WHERE id = #{noticeId}
        </foreach>
    </update>

    <update id="noticeRead">
        UPDATE notice
        SET is_read = 1
        WHERE id = #{noticeId}
    </update>

</mapper>