<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.KeywordMapper">

    <select id = "myKeywordList" parameterType="java.lang.Long" resultType="in.koala.domain.Keyword">
        SELECT k.id, k.name as keyword, k.site, uk.is_important as isImportant
        FROM keyword as k
            INNER JOIN user_keyword as uk ON uk.keyword_id = k.id
        WHERE uk.user_id = #{userId}
    </select>

    <select id="checkDuplicateKeyword" parameterType="in.koala.domain.Keyword" resultType="java.lang.Long">
        SELECT id
        FROM keyword
        WHERE name = #{keywordName}
    </select>

    <insert id="insertKeyword" parameterType="string">
        INSERT INTO keyword (name)
        VALUES (#{keywordName})
        <selectKey keyProperty="keywordId" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="checkDuplicateUsersKeyword" parameterType="in.koala.domain.Keyword" resultType="java.lang.Long">
        SELECT id
        FROM user_keyword
        WHERE user_id = #{userId} AND keyword_id = #{keywordId}
    </select>

    <insert id="insertUsersKeyword" useGeneratedKeys="true" parameterType="in.koala.domain.Keyword" keyProperty="id">
        INSERT INTO user_keyword (user_id, keyword_id, is_important, alarm_mode, alarm_cycle, created_at)
        VALUES (#{userId}, #{keywordId}, #{isImportant}, #{alarmMode}, #{alarmCycle}, #{createdAt})
    </insert>

    <update id="deleteKeyword" parameterType="java.util.Map">
        UPDATE user_keyword
        SET is_deleted = 1
        WHERE user_id = #{user_id}
            AND keyword_id = #{keyword_id}
    </update>

    <update id="modifyKeyword" parameterType="java.util.Map">
        UPDATE keyword
        SET name = #{keyword_name}
        WHERE id = #{keyword_id}
    </update>

</mapper>