<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.KeywordPushMapper">

    <select id="pushKeyword" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT c.id as crawlingId, k.id as keywordId, c.title, c.url
        from crawling as c
                 inner join keyword as k on c.title LIKE CONCAT('%',k.name,'%')
                 inner join keyword_site as ks ON k.id = ks.keyword_id and ks.site_name = c.site
        where k.user_id = 1
          AND ks.is_deleted = 0
          AND c.is_deleted = 0
          AND k.is_deleted = 0;
    </select>

    <select id="pushKeywordByLatelyCrawlingTime" resultType="java.util.Map">
        SELECT k.id as keywordId, k.name, c.id as crawlingId, c.title, c.url, c.site
        from crawling as c
                 inner join keyword as k on c.title LIKE CONCAT('%',k.name,'%')
                 inner join keyword_site as ks ON k.id = ks.keyword_id and ks.site_name = c.site
        where c.crawling_at = #{latelyCrawlingTime}
          AND ks.is_deleted = 0
          AND c.is_deleted = 0
          AND k.is_deleted = 0;
    </select>

</mapper>