<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.KeywordPushMapper">

    <select id="pushKeyword" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT c.id as crawlingId, k.id as keywordId, c.title, c.url
        from crawling as c
                 inner join keyword as k on c.title LIKE CONCAT('%',k.name,'%')
                 inner join keyword_site as ks ON k.id = ks.keyword_id and ks.site_name = c.site
        where k.user_id = 1
          AND ks.is_deleted = 0
          AND c.is_deleted = 0
          AND k.is_deleted = 0;
    </select>

    <resultMap id="PushNoticeMap" type="in.koala.domain.PushNotice">
        <id property="keyword" column="keyword"/>
        <id property="site" column="site"/>
        <id property="url" column="url"/>
        <id property="keywordId" column="keywordId"/>
        <id property="crawlingId" column="crawlingId"/>
        <collection property="tokenList" column="user_id" select="selectTokenList"></collection>
    </resultMap>

    <select id="selectTokenList" resultType="java.lang.String">
        SELECT token
        FROM device_token
        WHERE user_id=#{user_id}
    </select>

    <select id="pushKeywordByLatelyCrawlingTime" resultMap="PushNoticeMap">
        SELECT u.id as user_id, k.name as keyword, c.site, c.url, k.id as keywordId, c.id as crawlingId
        from crawling as c
                 inner join keyword as k on c.title LIKE CONCAT('%',k.name,'%')
                 inner join keyword_site as ks ON k.id = ks.keyword_id and ks.site_name = c.site
                 inner join user as u on u.id=k.user_id
        where c.crawling_at = #{mostRecentCrawlingTime}
          AND ks.is_deleted = 0
          AND c.is_deleted = 0
          AND k.is_deleted = 0;
    </select>

</mapper>