<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.MemoMapper">

    <insert id="addMemo" parameterType="in.koala.domain.Memo">
        INSERT INTO memo(user_scrap_id, memo)
        VALUES(#{user_scrap_id}, #{memo})
    </insert>

    <select id="getMemo" resultType="java.util.Map">
        SELECT m.user_scrap_id as userScrapId, m.memo, m.created_at, m.updated_at
        FROM koala.memo AS m
        JOIN koala.scrap AS s
        ON s.id = m.user_scrap_id
        WHERE s.user_id = #{userId} AND s.is_deleted = 0 AND m.is_deleted = 0;
    </select>

    <update id="updateMemo" parameterType="in.koala.domain.Memo">
        UPDATE memo SET memo = #{memo} WHERE user_scrap_id = #{user_scrap_id};
    </update>

    <select id="checkMemoExist" resultType="Boolean">
        SELECT EXISTS (SELECT user_scrap_id FROM koala.memo WHERE user_scrap_id = #{userScrapId} AND is_deleted = 0);
    </select>

</mapper>