<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.ScrapMapper">

    <select id="getScrapList" resultType="java.util.Map">
        SELECT c.id, c.title, c.url, c.site, c.created_at, c.crawling_at, s.id as userScrapId
        FROM koala.crawling AS c
        JOIN koala.scrap AS s
        ON s.crawling_id = c.id
        WHERE s.user_id = #{userId} AND s.is_deleted = 0 ORDER BY userScrapId;
    </select>
    
    <insert id="scrapBoard" parameterType="in.koala.domain.Scrap">
        INSERT INTO koala.scrap(user_id, crawling_id) VALUES (#{userId}, #{crawlingId});
    </insert>

    <update id="deleteScrap" parameterType="in.koala.domain.Scrap">
        UPDATE koala.scrap SET is_deleted = 1 WHERE
        <foreach collection="crawlingId" item="crawlingId" open="(" close=")" separator="or">
            crawling_id = #{crawlingId}
        </foreach>;
    </update>

    <select id="checkBoardExist" resultType="Boolean">
        SELECT EXISTS (SELECT id FROM koala.crawling WHERE id = #{crawlingId} AND is_deleted = 0)
    </select>

    <select id="checkScrapExist" resultType="Boolean">
        SELECT EXISTS (SELECT crawling_id FROM koala.scrap WHERE crawling_id = #{crawlingId} AND is_deleted = 0)
    </select>

    <select id="checkAlreadyScraped" resultType="Long">
        SELECT count(*) FROM koala.scrap WHERE user_id = #{userId} AND crawling_id = #{crawlingId} AND is_deleted = 0;
    </select>

    <select id="checkScrapExistByMemo" resultType="Boolean">
        SELECT EXISTS (SELECT id FROM koala.scrap WHERE user_id = #{userId} AND id = #{userScrapId} AND is_deleted = 0)
    </select>

    <select id="getCrawlingId" resultType="Long">
        SELECT crawling_id FROM koala.scrap WHERE id = #{userScrapId};
    </select>

</mapper>