<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="in.koala.mapper.ScrapMapper">

    <select id="getScrapList" resultType="in.koala.domain.Crawling">
        SELECT c.title, c.url, c.site, c.created_at, c.crawling_at
        FROM koala.crawling AS c JOIN koala.scrap AS s
        ON s.board_id = c.id WHERE s.user_id = #{userId} AND s.is_deleted = 0;
    </select>

    <insert id="scrapBoard" parameterType="in.koala.domain.Scrap">
        INSERT INTO koala.scrap(user_id, board_id) VALUES (#{userId}, #{boardId});
    </insert>

    <update id="deleteScrap" parameterType="in.koala.domain.Scrap">
        UPDATE scrap SET is_deleted = 1 WHERE board_id = #{boardId};
        UPDATE memo SET is_deleted = 1 WHERE user_scrap_id = #{boardId};
    </update>

    <select id="checkBoardExist" resultType="Boolean">
        SELECT EXISTS (SELECT id FROM koala.crawling WHERE id = #{boardId} AND is_deleted = 0)
    </select>

    <select id="checkScrapExist" resultType="Boolean">
        SELECT EXISTS (SELECT board_id FROM koala.scrap WHERE board_id = #{boardId} AND is_deleted = 0)
    </select>

    <select id="checkAlreadyScraped" resultType="Long">
        SELECT count(*) FROM koala.scrap WHERE user_id = #{userId} AND board_id = #{boardId} AND is_deleted = 0;
    </select>

    <select id="getScrapId" resultType="Long">
        SELECT id FROM koala.scrap WHERE user_id = #{userId} AND board_id = #{boardId} AND is_deleted = 0;
    </select>

</mapper>